{% load static %}
{% load widget_tweaks %}
{% include 'header.html' %}

<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <div class="col-lg-6 d-flex align-items-center">
            <div class="card shadow p-4 w-100">
                <div class="card-header text-center">
                    <h3>Mag Rehistro Nang Bagong Account</h3>
                </div>
                <div class="card-body">

                    {% if messages %}
                    <div class="container mt-3">
                        {% for message in messages %}
                        <div class="alert alert-dismissible fade show">
                            {{ message }}
                            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        Please correct the errors below.
                    </div>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{ form.username|add_class:"form-control" }}
                            <label for="id_username">Username</label>
                            {{ form.username.errors }}
                        </div>

                        <div class="form-floating mb-3">
                            {{ form.email|add_class:"form-control" }}
                            <label for="id_email">Email Address</label>
                            {{ form.email.errors }}
                        </div>

                        <div class="form-floating mb-3">
                            {{ form.password1|add_class:"form-control" }}
                            <label for="id_password1">Password</label>
                            {{ form.password1.errors }}
                        </div>

                        <div class="form-floating mb-3">
                            {{  form.password2|add_class:"form-control" }}
                            <label for="id_password2">Confirm password</label>
                        </div>

                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" name="agree" id="agree">
                            <label for="agree" class="form-check-label">
                                I agree with the <a class="text-black" href="#">Terms & Conditions</a>
                            </label>
                        </div>

                        <button type="submit" class="btn btn-success btn-lg w-100">Register</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>Already have an account? <a class="text-black" href="{% url 'core:login' %}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}